

body{
    font:14px/1.3 'Segoe UI', 'Arial', sans-serif;
    background-color:transparent !important;
}

.logo_center{

    width: 100%;
    text-align: center;
}

img{
    width: 100%;
}

.footer_tekst {
    padding-top: 2em;
    padding-bottom: 2em;
}

p.footer{
    padding-top: 3em;
    width: 100%;
    text-align: center;
    float: left;
}